In [2]:

quantity_item1 = int(input("Enter quantity for item 1: "))
price_item1 = int(input("Enter price for item 1: "))
quantity_item2 = int(input("Enter quantity for item 2: "))
price_item2 = int(input("Enter price for item 2: "))
quantity_item3 = int(input("Enter quantity for item 3: "))
price_item3 = int(input("Enter price for item 3: "))
total_cost_item1 = (quantity_item1 * price_item1)
total_cost_item2 = (quantity_item2 * price_item2)
total_cost_item3 = (quantity_item3 * price_item3)
total_cost = total_cost_item1 + total_cost_item2 + total_cost_item3
if 100 <= total_cost <= 200:
    discount = 0.05
    total_cost -= total_cost * discount
elif total_cost > 200:
    discount = 0.1
    total_cost -= total_cost * discount
print(f"Total cost after discount: ${total_cost:.2f}")

Enter quantity for item 1: 1
Enter price for item 1: 34
Enter quantity for item 2: 1
Enter price for item 2: 32
Enter quantity for item 3: 1
Enter price for item 3: 23
Total cost after discount: $89.00

In [5]:
# Program for temprature converter
temp=int(input("enter the temprature in celsius:"))
if temp <=0:
    print(" wear a warm dress")
elif temp >=30:
    print("staying hydrated")

enter the temprature in celsius:40
staying hydrated

In [7]:

contact_list = []
for _ in range(3):
    name = input("Enter a name: ")
    contact_list.append(name)

print("Contact List:")
print(contact_list)
search_name = input("Enter a name to check if it's in the list: ")
if search_name in contact_list:
    print(f"{search_name} is in the contact list.")
else:
    print(f"{search_name} is not in the contact list.")

Enter a name: dua
Enter a name: alishba
Enter a name: fatima
Contact List:
['dua', 'alishba', 'fatima']
Enter a name to check if it's in the list: alishba
alishba is in the contact list.

In [ ]:
def factorial (n):
    if n==0 or n==1:
        return 1
    else:
        return n*
    calculate_fac
num=int(input("enter the number:"))
if num <0:

In [3]:
def is_palindrome(word):
    cleaned_word=''.join(char.lower() for char in word )
    return cleaned_word==cleaned_word[::-1]
word1="level"
word2="python"

result1 = is_palindrome(word1)
result2 = is_palindrome(word2)

print(f"{word1} is a plindrome:{result1}")
print(f"{word2} is a palindrome:{result2}")

level is a plindrome:True
python is a palindrome:False

In [4]:
def generate_square_list():
    return [i**2 for i in range(1, 11)]

def even_squares(square_list):
    return [square for square in square_list if square % 2 == 0]

square_list = generate_square_list()

even_squares = even_squares(square_list)

print("List of squares:", square_list)
print("List of even squares:", even_squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List of even squares: [4, 16, 36, 64, 100]

In [5]:
# What will be output:
#1)
a=5
b=a+2
c=b*3
print(c)

21

In [6]:
#2)
x=10
y=3
result=x//y + x%y
print(result)

4

In [9]:
#3)
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [10]:
#4)
my_list=[1,2,3]
my_tuple =tuple(my_list)
print(my_list)

[1, 2, 3]

In [11]:
#5)
student_info ={"name":"Alice","age":20,"grade":"A"}
print(student_info["age"])

20

In [12]:
def square(x):
    return x**2

result=square(4)
print(result)

16

In [13]:
num1=7
num2=3
result=num1%num2
print(result)

1

In [14]:
#8)
value =2**3*2
print(value)

16

In [18]:
x=15
if x>10 and x%2==1:
    print("odd and greater than 10")
else:
     print("not meeting criteria")

odd and greater than 10

In [19]:
for i in range(2,8,2):
    print(i)

2
4
6